<li id="<%= id %>" class="<% if (typeof suspended != 'undefined' && suspended) { print('suspended') } %> tab-item <% if (typeof whitelisted != 'undefined' && whitelisted) { print('whitelisted') } %> <% if (typeof currentActive != 'undefined' && currentActive) { print('selected') } %>">
	<% if (typeof faviconRenderUrl != 'undefined') { %>
	<span class="favicon">
		<img class="favicon" src="<%= faviconRenderUrl %>" />
	</span>
	<% } %>
	<% if (typeof title != 'undefined') { %>
	<span class="title">
		<a href="<%= url %>" class="js-title">
			<%= title %>
		</a>
		<br />
	</span>
	<span class="time">
		<% if (typeof percent != 'undefined' && percent) { %>
			<div class="percentage-bar">
				<div class="percentage" style="width:<%= percent %>%;"></div>
			</div>
		<% } %>
		<div class="friendly-time <% if (typeof percent == 'undefined' || !percent) { %>no-percent<% } %>">
			<% if (typeof active_time_friendly != 'undefined' && active_time_friendly) { %>
				<span class="active-time"><%= active_time_friendly %> active</span>
			<% } %>
			<% if (typeof time_ago != 'undefined' && time_ago) { %>
				<span class="time-ago"> | <%= time_ago %></span>
			<% } %>
		</div>
	</span>
	<% } %>
	<ul class="link-options">
		<% if (typeof pinned != 'undefined' && !suspended) { %>
		<li>
			<a href="#" class="js-pin pin-tab" data-tooltip="Pin tab | p">
				<img src="<%= assets.pinPngUrl %>" />
			</a>
		</li>
		<% } %>
		<li>
			<a href="#" class="js-close-tab close-tab" data-tooltip="Close tab | c">
				<img src="<%= assets.closePngUrl %>" />
			</a>
		</li>
	</ul>
</li>