body {
  font-size: 14px;
  max-width: 50%;
  margin: 0 auto;
  background-color: #eee;
}

.whitelisted-region {
  padding-left: 10px;
}

.whitelisted-region li {
  border: 1px solid #ccc;
  width: 96%;
  position:relative;
  display: block;
  padding: 10px;
}

.whitelisted-region li:hover {
  border: 1px solid #aaa;
  background-color: #f6f6f6;
}

.whitelisted-region li {
  margin: 10px 0 10px;
}

.whitelisted-region li img {
  height: 20px;
  top: 7px;
  position: absolute;
  right: 5px;
}

.icon {
  margin-right: 10px;
}

fieldset {
  margin: 20px 0;
  border: none;
  background-color: #fff;
}

form.whitelist {
  display: block;
  padding: 10px;
}

input[type="text"] {
  border: 1px solid #aaa;
  background-color: #f5f5f5;
  padding: 10px 2% 10px;
  width: 96%;
  font-size: 18px;
  margin: 10px 0 0;
}

input[type="submit"] {
  margin: 10px 0 0;
  padding: 8px 10px 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  color: #FFF;
}

.error-msg {
  display: none;
  color: red;
  font-size: 12px;
}

form input[type="text"].error {
  border: 1px solid red;
}