ul.tab-list {
	min-width: 520px;
	list-style-type: none;
	border-top: 1px solid #ddd;
}

body,
ul li,
ul,
ul li a {
	padding: 0;
	margin: 0;
}

ul li.tab-item {
	position: relative;
	padding: 6px 0 6px 15px;
	margin: 0;
	border-left: 5px solid #150385;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	width: 520px;
}

ul li.tab-item:hover .title,
ul li.tab-item.selected .title {
	max-width: 400px;
}

ul li.tab-item.suspended {
	background-color: #f6f6f6;
}

ul li.tab-item.suspended .favicon {
	opacity: 0.7;
}

ul li.tab-item.suspended:hover .title a {
	color: #666;
}

ul li.tab-item.suspended:hover .favicon {
	opacity: 1;
}

ul li.tab-item.whitelisted {
	background-color: #F0FAF0;
}

ul li.tab-item:nth-child(1) {
	border-left: 5px solid #FF7808;
}

ul li.tab-item:nth-child(2) {
	border-left: 5px solid #FF5101;
}

ul li.tab-item:nth-child(3) {
	border-left: 5px solid #FE3200;
}

ul li.tab-item:nth-child(4) {
	border-left: 5px solid #F10013;
}

ul li.tab-item:nth-child(5) {
	border-left: 5px solid #D20145;
}

ul li.tab-item:nth-child(6) {
	border-left: 5px solid #C40058;
}

ul li.tab-item:nth-child(7) {
	border-left: 5px solid #B40066;
}

ul li.tab-item:nth-child(8) {
	border-left: 5px solid #A00574;
}

ul li.tab-item:nth-child(9) {
	border-left: 5px solid #7A0186;
}

ul li.tab-item:nth-child(10) {
	border-left: 5px solid #4E0189;
}

ul li.tab-item:nth-child(11) {
	border-left: 5px solid #2F0087;
}

ul li.tab-item a {
	font-size: 15px;
	text-decoration: none;
	color: #333;
}

ul li.no-results {
	font-size: 15px;
	text-align: center;
	padding: 10px;
}

fieldset {
	border: none;
	margin: 0;
	padding:5px;
	position: relative;
}

.tooltip {
	background-color: #f6f6f6 !important;
	border: 1px solid #CCC !important;
}

/* Hide browser input reset in all browsers so we can make our own */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.reset-filter {
	position: absolute;
	right: 50px;
	top: 11px;
	display: none;
	opacity: 0.75;
}

.reset-filter:hover {
	opacity: 1;
}

* {
	outline: none;
}

input {
	width: 93%;
	font-size: 18px;
	border: none;
	border:1px solid #fff;
}

input:focus {
	background-color: #f6f6f6;
}

.title {
	display: inline-block;
	padding: 0 0 5px 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 480px;
}

.title a {
	white-space: nowrap;
}

.suspended .title a {
	color: #bbb;
}

.suspended .time {
	color: #bbb;
}

.suspended .close-tab,
.suspended .pin-tab {
	opacity: 0.5;
}

.filter-hidden {
	display: none;
}

.selected .title a {
	text-decoration: underline;
}

.selected {
	background-color: #eeeeee !important;
}

ul.link-options {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	min-width: 120px;
	text-align: right;
	padding: 14px 10px;
}

ul li.tab-item.selected ul.link-options {
	display: block;
}

ul.link-options li {
	display: inline-block;
}

ul.link-options li a {
	margin: 10px 8px 0;
	opacity: 0.75;
	position: relative;
}

ul.link-options li a:hover {
	opacity: 1;
}

ul.controls-all-tabs {
	position: absolute;
	right: 10px;
	top: 8px;
}

ul.controls-all-tabs a {
	opacity: 0.65;
}

ul.controls-all-tabs a:hover {
	opacity: 0.9;
}

ul.controls-all-tabs img {
	max-width: 30px;
}

ul.controls-all-tabs li {
	display: inline-block;
	margin-left: 10px;
}

.close-tab {
	top: -2px;
}

img {
	max-width: 15px;
	max-height: 20px;
}

.pin-tab img {
	max-height: 18px;
}

img.favicon {
	max-width: 25px;
	max-height: 20px;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.time {
	font-size: 10px;
	color: #999;
	display: block;
	float: left;
	width: 500px;
}

.friendly-time {
	margin: -4px 0 0 10px;
	float: left;
}

.friendly-time.no-percent {
	margin: -4px 0 0 30px;
}

/* Progress bar */
.percentage-bar {
	background-color: #ddd;
	max-width: 150px;
	margin-left: 30px;
	margin-bottom: 3px;
	float: left;
	width: 100%;
}

.percentage-bar .percentage {
	background-color: #aaa;
}

.percentage-bar,
.percentage-bar .percentage {
	height: 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}


