ul.tab-list {
	min-width: 520px;
	list-style-type: none;
	border-top: 1px solid #ddd;
}

body,
ul li,
ul,
ul li a {
	padding: 0;
	margin: 0;
}

ul li.tab-item {
	position: relative;
	padding: 6px 85px 6px 15px;
	margin: 0;
	border-left: 5px solid #150385;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	width: 415px;
}

ul li.tab-item.suspended {
	background-color: #f6f6f6;
}

ul li.tab-item:nth-child(1) {
	border-left: 5px solid #FF7808;
}

ul li.tab-item:nth-child(2) {
	border-left: 5px solid #FF5101;
}

ul li.tab-item:nth-child(3) {
	border-left: 5px solid #FE3200;
}

ul li.tab-item:nth-child(4) {
	border-left: 5px solid #F10013;
}

ul li.tab-item:nth-child(5) {
	border-left: 5px solid #D20145;
}

ul li.tab-item:nth-child(6) {
	border-left: 5px solid #C40058;
}

ul li.tab-item:nth-child(7) {
	border-left: 5px solid #B40066;
}

ul li.tab-item:nth-child(8) {
	border-left: 5px solid #A00574;
}

ul li.tab-item:nth-child(9) {
	border-left: 5px solid #7A0186;
}

ul li.tab-item:nth-child(10) {
	border-left: 5px solid #4E0189;
}

ul li.tab-item:nth-child(11) {
	border-left: 5px solid #2F0087;
}

ul li.tab-item a {
	font-size: 15px;
	text-decoration: none;
	color: #333;
}

ul li.no-results {
	font-size: 15px;
	text-align: center;
	padding: 10px;
}

fieldset {
	border: none;
	margin: 0;
	position: relative;
}

/* Hide browser input reset in all browsers so we can make our own */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.reset-filter {
	position: absolute;
	right: 15px;
	top: 10px;
	display: none;
	opacity: 0.75;
}

.reset-filter:hover {
	opacity: 1;
}

* {
	outline: none;
}

input {
	width: 100%;
	font-size: 18px;
	border: none;
}

.title {
	display: inline-block;
	padding: 0 0 0 30px;
}

.suspended .title a {
	color: #bbb;
}

.suspended .time-ago {
	color: #bbb;
}

.suspended .close-tab,
.suspended .pin-tab,
.suspended .suspend-tab {
	opacity: 0.5;
}

.time-ago {
	font-size: 11px;
	position: absolute;
	right: 10px;
	color: #999;
}

.filter-hidden {
	display: none;
}

.selected,
li.tab-item:hover {
	background-color: #f2f9fc !important;
}

ul.link-options {
	position: absolute;
	top: 10px;
	right: 0;
	display: none;
	background-color: #f2f9fc;
}

ul li.tab-item:hover ul.link-options,
ul li.tab-item.selected ul.link-options {
	display: block;
}

ul.link-options li {
	display: inline-block;
}

ul.link-options li a {
	margin: 10px 8px 0;
	opacity: 0.75;
	position: relative;
}

ul.link-options li a:hover {
	opacity: 1;
}

.suspend-tab {
	top: -2px;
}

.close-tab {
	top: -2px;
}

img {
	max-width: 15px;
	max-height: 20px;
}

.pin-tab img {
	max-height: 18px;
}

img.favicon {
	max-width: 25px;
	max-height: 20px;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}

